/*  your css code here. If applicable */
.grid-item{
	background-color:lightgray;
	
	border-radius:5px;
	font-size:40px;
	display:flex;
}

.grid-container{
	display:grid;
	grid-auto-flow:column;
	gap:5px;
	height:150px;
	width:200px;
}